@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

:root {
    --jetskyblue: #145894;
    --slate: #222222;
    --darkjetblue: #0a2136;
    --crimson: #6d0000;
    --page-gap: 2rem;
    --orangey: #ff6700;
}

img {
    width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
}

li,
ul {
    padding: 0.15rem;
    font-family: "Playfair Display", serif;
    color: var(--slate);
}

h1,
h2,
h3 {
    font-family: "Tinos", serif;
    color: var(--darkjetblue);
}

p,
ul,
a,
button{
    font-family: "Playfair Display", serif;
    color: var(--slate);
    margin: 0rem;
}

a:hover {
    color: var(--crimson);
    transition: 200ms color ease-in;
}

main {
    padding: 0 1rem;
}

body {
    background: #DDD;
    font-size: 15px;
}

header {
    z-index: 50;
}

#wrap {
    display: flex;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
}

input[type="text"] {
    height: 60px;
    font-size: 55px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    background: black;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
    width: 700px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
input[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    color:red;
    float: right;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.button {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 0.1875rem;
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    font-weight: 700;
    padding: 0.75rem 1.25rem 0.625rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    border-color 0.2s ease 0s, opacity 0.2s ease 0s;
    color: var(--jetskyblue);
    margin: 0.25rem;
}

.button:hover,
.button:active,
.button:focus {
    background-color: var(--orangey);
    border-color: #000;
    color: #fff;
}



.hero .heroText {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

a {
    cursor: pointer;
}

svg path {
    fill: #ff6700;
}

nav ul {
    list-style-type: none;
    display: flex;

    margin: 0;
    padding: 1rem;
    gap: 0rem;
    justify-content: flex-end;
    align-self: center;
}
.navbar {
    display: flex;
    justify-content: space-around;
    z-index: 50;
    background: var(--darkjetblue);
}

.navbar svg{
    width: 100px;
    height: 100px;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.song-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: var(--page-gap);
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 75%;
}

.input-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: var(--page-gap);
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 75%;
}

.song-box a{
    text-align: center;
    font-size: 40px;
}

.song-box .star{
    font-size: 50px;
}

.song-box img{
    width: 10%;
}

.body-flex p {
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.body-flex li {
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.body-flex h3 {
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.footer-item{
    font-size: 25px;
    color: white;
}

.navbar svg {
    order: 1;
}

.body-flex .profile{
    width: 30%;
    padding: 20px;
}

.main-menu nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkjetblue);

    transform: translateX(-100vw);
    transition: 200ms;
    /* clip-path: ellipse(0 0 at 0 0);
    transition: clip-path 500ms linear; */
    z-index: 1;
}

.main-menu.menu-show nav {
    transform: translateX(0);
    transition: 400ms;
    /* clip-path: ellipse(200vw 200vh at 0 0); */
}

.main-menu nav {
    justify-content: center;
}

.main-menu ul {
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

.main-menu a {
    background-color: lightgrey;
}

.caption h1 {
    color: white;
    font-size: 2.5rem;
}

.caption h2 {
    color: lightgrey;
    font-size: 1.5rem;
}

#hero {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
}

#hero::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
}

#hero .caption {
    position: relative;
    text-align: center;
    color: white;
    z-index: 30;

    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent); */
}

body {
    z-index: -100;
    background: url(../pictures/texture.png);
}

footer {
    height: 3rem;
    background-color: var(--darkjetblue);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.body-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}

.flex-container {
    display: flex;
    flex-direction: column; /* Items will be stacked vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    align-items: flex-start; /* Align items to the start of the container */
    justify-content: flex-start; /* Align items to the start of the container */
    padding: 10px; /* Optional: Add padding for spacing */
}

.progress-container {
    width: 100%;
    height: 8px;
    background: var(--darkjetblue);
    z-index: 50;
    position: fixed;
}

.progress-bar {
    height: 8px;
    background: var(--orangey);
    width: 0%;
}

#jokeContainer {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100px;
}

/* Button styles */
#getJokeButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#getJokeButton:hover {
    background-color: var(--orangey);
}

#player-messages {
    position: fixed;
    top: 120px;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.quote-box {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
}

.quote-box.has-text {
    display: block;
}

@media (min-width: 600px) {
    .main-menu nav {
        display: flex;
    }

    .main-menu ul {
        align-items: center;
        flex-direction: row;
        gap: 0vh;
    }

    .song-box {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px; /* Optional: Add margin between song boxes */
        margin-bottom: 10px;
    }

    .song-box p,
    .song-box a {
        flex: 2; /* Adjust the value as needed */
        margin: 0; /* Remove default margins */
    }

    /* Adjust the width of image elements */
    .song-box img {
        flex: 1; /* Adjust the value as needed */
    }

    .navbar svg {
        order: -1;
    }

    .song-box .text-content {
        flex: 0 1 70%;
    }

    .song-box figure {
        flex: 1 1 30%;
        order: 0;
    }

    .song-box .left {
        order: -1;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card {
        flex: 1 1 40%;
    }
}

/* menu paste */

.hidden {
    display: none;
}

.main-menu .menu-icon {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu svg {
    stroke: ivory;
    stroke-width: 4px;
    stroke-linecap: round;
    padding: 12px;
}

.main-menu svg line {
    transform-origin: center;
    transition: transform 200ms ease;
}

.main-menu svg line:first-child {
    transform: translateY(8px);
}

.main-menu svg line:last-child {
    transform: translateY(-8px);
}

.menu-show .menu-icon {
    background-color: var(--darkjetblue);
}

.menu-show svg line {
    stroke: var(--orangey);
    stroke-width: 5px;
}

.menu-show svg line:first-child {
    transform: rotate(135deg);
}

.menu-show svg line:last-child {
    transform: rotate(-135deg);
}

.main-menu li {
    display: flex;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--darkjetblue);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: none;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    height: 5em;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}



/* end menu paste */

@media (min-width: 601px) {
    .song-box {
        flex-direction: row;
    }

    .main-menu li {
        display: flex;
    }

    .song-box .text-wrapper {
        flex: 1 1 60%;
    }

    .song-box .image-wrapper {
        flex: 1 1 40%;
    }

    .song-box h2 {
        margin-top: 0;
    }

    .main-menu .menu-icon {
        display: none;
    }

    .main-menu nav {
        position: static;
        display: block;
        /* margin: 2rem 1.5rem 0rem; */
        background-color: transparent;
        transform: none;
        transition: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 80rem;
    }

    nav a {
        padding: 1rem;
        font-size: 1.4rem;
        color: white;
    }

    nav a::after {
        content: "";
        display: block;
        width: calc(100% + 12px);
        height: 3px;
        margin-left: -6px;
        margin-top: 6px;
        background-color: white;
        transform: scale(0);
        transition: transform 200ms ease-in, color 300ms ease-in;
        transform-origin: right;
    }

    nav a[href]:hover {
        color: white;
    }

    nav a[href]:hover::after {
        transform: scale(1);
        transform-origin: left;
    }
}
